<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Yatzy - {{ page_title or "" }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><h1><a href="/">Yatzy</a></h1></li>
                <li><a href="/leaderboard">Tilastot</a></li>
                <li><a href="/news">Uutiset</a></li>
                <li class="spacer"></li>
                {% if logged_in %}
                <li><a href="/profile">Profiili</a></li>
                <li><a href="/logout">Kirjaudu ulos</a></li>
                {% else %}
                <li><a href="/login">Kirjaudu sisään</a></li>
                <li><a href="/signup">Luo uusi käyttäjä</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        &copy; Janne Salokoski 2025
    </footer>
</body>

</html>
